<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Presentation.Main" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
 TAL-60-Create-feature-sp-WFDetailsOrder
        <%--aqui va lo qu se repite en los demas formularios--%>
        <a href="Inicio.aspx">Inicio</a>
        <a href="#">Carrito</a>
        <a href="#">Categorias</a>
        <a href="#">Usuarios</a>
        <a href="#">Comentarios</a>
 TAL-61-Create-feature-sp-WFOrder
        <a href="#">Detalles Pedidos</a>
        <a href="WFOrder.aspx">Ordenes</a>
        <a href="#">Pagos</a>

        <a href="WFDetailsOrder.aspx">Detalles Pedidos</a>
        <a href="#">Ordenes</a>
 develop
        <a href="WFProducts.aspx">Productos</a>
        <a href="#">Provedores</a>       
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

            <%--aqui va lo que se repite en los demas formularios--%>
            <a href="Inicio.aspx">Inicio</a>
            <a href="WFCar.aspx">Carrito</a>
            <a href="#">Categorias</a>
            <a href="#">Usuarios</a>
            <a href="WFComments.aspx">Comentarios</a>
            <a href="#">Detalles Pedidos</a>
            <a href="#">Ordenes</a>
            <a href="#">Pagos</a>
            <a href="WFProducts.aspx">Productos</a>
            <a href="WFProviders.aspx">Provedores</a>
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
 develop
    </form>
</body>
</html>
